TXTtoXML/res/wellDataDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT wells (well*)>
	<!ELEMENT well (location, wellDepth, perfDepth, perdZone, strokeLength, strokePM)>
		<!ELEMENT location 	(#PCDATA)>
		<!ELEMENT wellDepth 	(#PCDATA)>
		<!ELEMENT perfDepth 	(#PCDATA)>
		<!ELEMENT perdZone 	(#PCDATA)>
		<!ELEMENT strokeLength 	(#PCDATA)>
		<!ELEMENT strokePM 	(#PCDATA)>